doctype 5
html(lang="en")
	head
		title Fanfare
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="google-site-verification", content="_Sq_uG1O7l8CWo-YDXr9w1GOthSiReagCGfaAZJ3EbI")
		link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel="stylesheet", type="text/css")
	body
		br
		br
		br
		.download(style="margin-left:10px")
			a(href="/fanfare_beta.zip") Download the beta
			p If you have any suggestions, comments, or bug reports, please email us at support@fanfare.io 
			br
			a(href="/") Sign up for the mailing list here
