doctype 5
html(lang="en")
	head
		title Fanfare
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="google-site-verification", content="_Sq_uG1O7l8CWo-YDXr9w1GOthSiReagCGfaAZJ3EbI")
		link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel="stylesheet", type="text/css")
	body
		.jumbotron
			.container
				h1 Fanfare
				h2 In today's world, everyone deserves a spectacular entrance
				p(style="margin-bottom:0") We intend to give it to them. Sign up to be notified when the Mac app is released
				form.form-inline(action="http://ingresso.us3.list-manage.com/subscribe/post?u=1b15a6c493485f29a99b40a3e&amp;id=c3f8c8ae91", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
					.form-group(style="margin-right:10px")
						label.sr-only(for="mce-EMAIL") Signup to be notified when the Mac app is released
						input.form-control(type="email", value="", name="EMAIL", class="email", id="mce-EMAIL", placeholder="email address", required)
					.form-group
						input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe", class="btn btn-default")
		.container
			p Based on a hack created by 
				a(href='http://twitter.com/redsh', target='_blank') Francesco Rossi
				|  and 
				a(href='http://github.com/jgoldbeck', target='_blank') Joseph Goldbeck
				|  at 
				a(href='http://musichackday.org/', target='_blank') Music Hack Day
				|  Boston, Fanfare
				|  detects when a user enters the room and plays their personalized entrance music. Features for v1.0 of the Mac app 
				|  are still being determined, but we plan to allow the choice of songs and playlists via iTunes and 
				a(href='http://www.rdio.com/', target='_blank') Rdio
				| , as well as the ability to choose what times of day a grand entrance is desired
				|  (arriving at work in the morning, returning from lunch break, coming home after a long day at the space mines).
				|  The app will be free for the main functionality, with the option of an in-app purchase to allow for more users
				|  and further exciting features.
	footer
		.container
			p.text-muted(style="position:fixed; bottom:0") Site "design" by Joseph Goldbeck
